pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.2
pyarrow==23.0.1
PyYAML==6.0.3
requests==2.33.1
lightgbm==4.6.0
catboost==1.2.10
git+https://github.com/Polymarket/py-clob-client-v2.git@e38a8193a808b5f9195373efd019509da5a4fa14
